#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #161629;
    margin: 0;
    padding: 0;
}

.app-contenedor {
    text-align: center;
    padding: 20px;
}

.titulo-app {
    margin-bottom: 20px;
    color: #6289cd;
}

/* BARRA DE BUSQUEDA */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
}

.search-input {
    padding: 8px 12px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #545456;
}

.search-boton {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.search-boton:hover {
    background-color: #0056b3;
}

/* LISTA DE SERIES / FAVORITOS */
.show-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

/* SECCIONES */

/* MODAL DETALLE */
