#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* ###### GENERAL ###### */
body {
    font-family: Arial, sans-serif;
    background-color: #161629;
    margin: 0;
    padding: 0;
}

.app-contenedor {
    text-align: center;
    padding: 20px;
}

.titulo-app {
    margin-bottom: 20px;
    color: #6289cd;
}

/* ###### BARRA DE BUSQUEDA ###### */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
}

.search-input {
    padding: 8px 12px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #545456;
}

.search-boton {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.search-boton:hover {
    background-color: #0056b3;
}

/* ###### LISTA DE SERIES / FAVORITOS ###### */
.show-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columnas iguales */
    gap: 15px;
}

.serie-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.serie-image-container {
    cursor: pointer;
    width: 100%;
}

.serie-image {
    width: 100%;
    display: block;
}

.no-image-name {
    font-weight: bold;
}

.serie-info {
    padding: 10px;
}

.serie-name {
    font-size: 16px;
    margin: 0 0 10px 0;
}

/* Botones favoritos */
.btn-fav-añadir {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background-color: #272f8d;
    color: white;
    cursor: pointer;
}

.btn-fav-quitar {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background-color: #203f55;
    color: white;
    cursor: pointer;
}

/* Botón de cerrar */
.btn-cerrar {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #4e5153;
    color: white;
    cursor: pointer;
}

/* ###### SECCIONES ###### */
.seccion-titulo {
    text-align: left;
    margin: 20px 0 10px 10px;
    color: #e8e6e6;
}

.mensaje-centro {
    text-align: center;
    color: #666;
    font-style: italic;
}

.seccion-facvoritos,
.seccion-series {
    margin-bottom: 30px;
}

/* ###### DETALLE ###### */
.detalle-dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    overflow-y: auto;
}

.detalle-dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.modal-imagen {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal-summary {
    text-align: left;
    margin: 15px 0;
    line-height: 1.5;
}

/* Caja del modal */
.detalle-dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;

    /* Quita márgenes automáticos que desalinean el modal */
    margin: 0;

    /* Centrado perfecto como una ventana emergente */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgb(32, 38, 69);
}

/* Imagen dentro del modal */
.modal-imagen {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Botón cerrar */
.btn-cerrar {
    margin-top: 15px;
    padding: 8px 12px;
    background: rgb(230, 77, 77);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Botón favorito */
.btn-fav-añadir,
.btn-fav-quitar {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-fav-añadir {
    background: rgb(59, 142, 255);
    color: white;
}

.btn-fav-quitar {
    background: rgb(255, 172, 48);
    color: white;
}
